In [1]:
import pandas as pd

In [2]:
# loading the dataset
df = pd.read_csv("resources/train_transformed.csv")
df

,Survived,Pclass,Age,SibSp,Parch,Fare,Family_Size,Age*Class,Fare_Per_Person,Sex_female,...,Title_Mrs,Deck_A,Deck_B,Deck_C,Deck_D,Deck_E,Deck_F,Deck_G,Deck_T,Deck_U
0,0,3,22.0,1,0,7.2500,1,66.0,3.62500,0,...,0,0,0,0,0,0,0,0,0,1
1,1,1,38.0,1,0,71.2833,1,38.0,35.64165,1,...,1,0,0,1,0,0,0,0,0,0
2,1,3,26.0,0,0,7.9250,0,78.0,7.92500,1,...,0,0,0,0,0,0,0,0,0,1
3,1,1,35.0,1,0,53.1000,1,35.0,26.55000,1,...,1,0,0,1,0,0,0,0,0,0
4,0,3,35.0,0,0,8.0500,0,105.0,8.05000,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
884,0,2,27.0,0,0,13.0000,0,54.0,13.00000,0,...,0,0,0,0,0,0,0,0,0,1
885,1,1,19.0,0,0,30.0000,0,19.0,30.00000,1,...,0,0,1,0,0,0,0,0,0,0
886,0,3,28.0,1,2,23.4500,3,84.0,5.86250,1,...,0,0,0,0,0,0,0,0,0,1
887,1,1,26.0,0,0,30.0000,0,26.0,30.00000,0,...,0,0,0,1,0,0,0,0,0,0
888,0,3,32.0,0,0,7.7500,0,96.0,7.75000,0,...,0,0,0,0,0,0,0,0,0,1

In [3]:
# loading the dataset
test_data = pd.read_csv("resources/test_transformed.csv")
test_data

,PassengerId,Pclass,Age,SibSp,Parch,Fare,Family_Size,Age*Class,Fare_Per_Person,Sex_female,...,Title_Mr,Title_Mrs,Deck_A,Deck_B,Deck_C,Deck_D,Deck_E,Deck_F,Deck_G,Deck_U
0,892,3,34.5,0,0,7.8292,0,103.5,7.829200,0,...,1,0,0,0,0,0,0,0,0,1
1,893,3,47.0,1,0,7.0000,1,141.0,3.500000,1,...,0,1,0,0,0,0,0,0,0,1
2,894,2,62.0,0,0,9.6875,0,124.0,9.687500,0,...,1,0,0,0,0,0,0,0,0,1
3,895,3,27.0,0,0,8.6625,0,81.0,8.662500,0,...,1,0,0,0,0,0,0,0,0,1
4,896,3,22.0,1,1,12.2875,2,66.0,4.095833,1,...,0,1,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,27.0,0,0,8.0500,0,81.0,8.050000,0,...,1,0,0,0,0,0,0,0,0,1
414,1306,1,39.0,0,0,108.9000,0,39.0,108.900000,1,...,1,0,0,0,1,0,0,0,0,0
415,1307,3,38.5,0,0,7.2500,0,115.5,7.250000,0,...,1,0,0,0,0,0,0,0,0,1
416,1308,3,27.0,0,0,8.0500,0,81.0,8.050000,0,...,1,0,0,0,0,0,0,0,0,1
417,1309,3,27.0,1,1,22.3583,2,81.0,7.452767,0,...,0,0,0,0,0,0,0,0,0,1

In [4]:
X_train = df[["Pclass", "Age", "Fare", "Family_Size", "Age*Class", "Fare_Per_Person", "Sex_female", "Title_Mr"]]
y_train = df["Survived"]

X_test = test_data[["Pclass", "Age", "Fare", "Family_Size", "Age*Class", "Fare_Per_Person", "Sex_female", "Title_Mr"]]

In [5]:
# Scale your data
from sklearn.preprocessing import StandardScaler
X_scaler = StandardScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [6]:
# create a Logistic Regression Model with new parameters
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(C= 1, max_iter= 50, random_state= 0, solver= 'lbfgs', tol= 1)
classifier

LogisticRegression(C=1, max_iter=50, random_state=0, tol=1)

In [7]:
# fit(train) our model using the training data
classifier.fit(X_train_scaled, y_train)

LogisticRegression(C=1, max_iter=50, random_state=0, tol=1)

In [8]:
# make predictions with the hypertuned model
predictions = classifier.predict(X_test_scaled)

In [9]:
output = pd.DataFrame({'PassengerID': test_data.PassengerId, 'Survived': predictions})

In [10]:
output.to_csv('resources/Hunter_submission03.csv', index=False)